<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="POS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DB" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\sqlexpress;initial catalog=LasTacas;integrated security=True;application name=POS;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <POS.Properties.Settings>
      <setting name="PreguntaCrearPersona" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FormatoPlata" serializeAs="String">
        <value>$#,0</value>
      </setting>
      <setting name="MaxMin" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="CompraFontFamily" serializeAs="String">
        <value>Verdana</value>
      </setting>
      <setting name="CompraFontSize" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="CompraLogoProp" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="CompraQrProp" serializeAs="String">
        <value>0.4</value>
      </setting>
      <setting name="CompraGraciasFamily" serializeAs="String">
        <value>Verdana</value>
      </setting>
      <setting name="CompraGraciasSize" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="CompraGraciasText" serializeAs="String">
        <value>Gracias por su visita</value>
      </setting>
      <setting name="ContratoTexto" serializeAs="String">
        <value>En La Serena a [fecha]
Nombre: [nombre] [apellido]
Cedula de identidad N°: [rut]
Correo Electrónico: [email]

1.- Ser mayor de edad y contar con las aptitudes físicas y de salud necesarias para jugar en el Paintball/MTB/Muro de escalada, existente en área especial de Las Tacas.

2.- Conocer el riesgo de la actividad a desarrollar y hacer decidido libre y espontáneamente mi participación, bajo mi exclusiva responsabilidad.

3.- Comprometerme a utilizar en todo momento los elementes de seguridad proporcionados por la entidad a cargo de la actividad: casco, arnés, cinta y mosquetones.
Vaciar todos mis bolsillos u otras cosas que puedan caer al vacio, dañando a terceras personas o parte de DistritoAventura. Si ocurriese lo contrario lo que produjera un accidente, me comprometo a cubrir con los gastos y daños ocurridos.

4.- Conocer y aceptar que DistritoAventura y Las Tacas quedan eximidos de toda responsabilidad frente a cualquier accidente o daño que se produzca o sufra como consecuencia de mi participación o utilización del juego Paintball/MTB/Muro de escalada indicado más arriba.</value>
      </setting>
      <setting name="ContratoFamily" serializeAs="String">
        <value>Verdana</value>
      </setting>
      <setting name="ContratoSize" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="PersonaPrintDialog" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CompraPrintDialog" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GmailUser" serializeAs="String">
        <value />
      </setting>
      <setting name="GmailPass" serializeAs="String">
        <value />
      </setting>
      <setting name="GmailTo" serializeAs="String">
        <value>avelinosalas@gmail.com,felipeortegabustamante@gmail.com</value>
      </setting>
    </POS.Properties.Settings>
  </userSettings>
</configuration>